*{
  background-color:aqua;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-image: "C:/Users/Deirdre Walsh/Documents/cs322 background images/" 
}

.b{
  height: 60px;
  line-height: 60px;  
  width: 60px;  
  border-radius: 50%;
  background-color: red;
  text-align: center;
  cursor: pointer;
  margin:2%;
}

.loading{

  margin-left: 2%;
  margin-right: 2%;
}

.genre{
  width: 300px;
  height: auto;
}
.controls{
  width: 40px;
}

.wrapper{
  height: 120px;
  width: 120px;
  position: relative;
  text-align: center;
  display: inline-block;
}

.dot {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  padding-top: 10px;
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}

.record {
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .wrapper{
    height: 100px;
    width: 100px;
    position: relative;
    text-align: center;
    display: inline-block;
  }
  
  .dot {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    padding-top: 10px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .record {
    width: 100px;
  }  
}
.title{
  display: inline-block;
}

.navbar{
  background:#343a40;
}

.logo{
  background:#343a40;
  width: 15%;
}

.green{
  color: green;
}

.red{
  color: red;  
}